:root {
  background-color: azure;
  border: none;
  font-family: "Josefin Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.heading {
  display: flex;
  flex-direction: column;
  font-size: 60px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgb(0, 123, 255),
    rgb(221, 0, 255)
  );
  color: white;
  border: none;
  padding: 20px;
}

.search-card {
  padding: 60px 40px;
}

.search-card h2 {
  font-size: 30px;
  padding-bottom: 10px;
}

.search-card input {
  width: 300px;
  height: 35px;
  border: 4px double;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  margin-bottom: 5px;
}

/* how do you center the text in the serach box? */
.search-card button {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  font-family: "Josefin Sans", sans-serif;
  width: 300px;
  height: 30px;
  font-size: 20px;
  align-items: center;
  background-color: aliceblue;
  border: 1px solid;
}

.search-card button:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    rgb(0, 123, 255),
    rgb(221, 0, 255)
  );
  color: white;
  border: 2px dotted white;
}

.results-card {
    display: flex;
    flex-direction: column;
}
